autograd-lib
catboost==1.1
xlrd
opentsne
crepes==0.1.0
numpy
torch
scikit-learn==1.3.0
pandas==2.0.3
openml==0.14.0
xgboost==1.7.6
torch==1.13.1
sdv==0.17.2
xgboost==1.7.6
SciencePlots==1.0.9
hyperimpute==0.1.17
black
isort
fairlearn==0.9.0
ipykernel
matplotlib==3.7.2
ngboost==0.4.1
pre-commit